{% if page.has_youtube_thumbnail %}
  {% capture yt_url -%} 
  https://img.youtube.com/vi/{{ page.youtube_id }}/maxresdefault.jpg 
  {%- endcapture %}
  <meta name="twitter:card" content="{{ page.twitter.card | default: site.twitter.card | default: "summary_large_image" }}" />
  <meta property="twitter:image" content="{{ yt_url }}" />
  <meta property="og:image" content="{{ yt_url }}" />
  <link rel="image_src" href="{{ yt_url }}">
{% else %}
  <meta name="twitter:card" content="summary" />
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/images/bio.jpg" />
  <meta property="twitter:image" content="{{ site.url }}{{ site.baseurl }}/images/bio.jpg" />
  <link rel="image_src" href="{{ site.url }}{{ site.baseurl }}/images/bio.jpg">
{% endif %}